{% extends "base.html" %}

{% block title %}Instructions - Guess the language{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">

{% endblock %}

{% block content %}
<div class="body">
    <div class="mainContent">
        <div class="content">
            <article class="content-1">
                <header>
                    <h2>
                        How does it work?
                    </h2>
                </header>

                    <p>To start the game, all you have to do is navigate to the "Play" tab and input a sentence of your choice into the textbox.</p>
                    <p>It will automatically translate your text to another random language.</p>
                <p>Your objective is to inspect the text that has been translated and correctly choose the correct language from the dropdown menu. </p>
                <img src="../static/Google_Translate_Icon.png">
            </article>
        </div>
    </div>
</div>

{% endblock %}