{% extends "base.html" %}

{% block title %}Home - Guess the language{% endblock %}

{% block head %}
<!-- Linking Local CSS Stylesheets -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">

{% endblock %}

{% block content %}
<div class="body">
    <div class="mainContent">
        <div class="content">
            <article class="content-1">
                <header>
                    <h2>
                        Welcome to Guess the Language!
                    </h2>
                </header>

                <footer>
                    <p class="post-from">Guess the language game</p>
                </footer>


                    <p>The purpose of 'Guess the language' is to challenge people on their language skills.</p>
                    <p>You can start playing by navigating to the Play page above or take a look at the instructions
                        page to get more familiarised with the website.</p>

            </article>
        </div>
    </div>
</div>
{% endblock %}